*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family:'poppins',sans-serif;
   
}

body{
	color:#ededed;
   
}
.header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:20px 10%;
    background: transparent;
	display:flex;
	justify-content:space-between;
	align-items:center;
    z-index:100;

}
.logo{
    position: relative;
    font-size:25px;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    cursor:default;
    opacity:0;
    animation:slideRight 1s ease forwards; 
}
.navbar a{
    display: inline-block;
    font-size:25px;
    color:#fff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition: .3s;
    opacity:0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color:#0ef;
    
} 
.home{
    position: relative;
    width:100%;
    justify-content:space-between;
    height:100vh;
    background:url('laptop.avif');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding: 70px 10% 0;
}
.home-content{
    max-width:600px;
}
.home-content h3{
    font-size:32px;
    font-weight:700;
    opacity:0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
 
.home-content h3:nth-of-type(2){
    margin-bottom:30px;
}
.home-content h3 span{
    color:#0ef;
}
.home-content h1{
    font-size:56px;
    font-weight:700;
    margin:-3px 0;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay:1s;
}
.home-content p{
    font-size:20px;
    opacity:0;
    animation:slideLeft 1s ease forwards;
    animation-delay:1s;
}
.home-sci a{
  display:inline-flex;
  width:40px ;
  background: transparent;
  border:2px solid #0ef;
  border-radius:50%;
  padding:8px;
  font-size:20px;
  font-weight:600;
  text-decoration:none;
  margin:30px 15px 30px 0; 
  opacity:0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;


}
.home-sci a:hover{
    background:greenyellow;
    box-shadow:0 0 40px #0ef;
}
.home-sci a:link{
    color:blue;
}
.btn-box{
    display: inline-block;
    padding:12px 28px;
    background: #0ef;
    border-radius:40px;
    font-size:20px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
}
.btn-box:hover{
    box-shadow:0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
@keyframes slideRight {
    0%{
        transform:translateX(-100px);
        opacity: 0;

    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }

}
@keyframes slideTop {
    0%{
        transform:translateY(100px);
        opacity: 0;

    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }

}
@keyframes slideBottom {
    0%{
        transform:translateX(-100px);
        opacity: 0;

    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }

}
@keyframes slideLeft {
    0%{
        transform:translateX(100px);
        opacity: 0;

    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }

}
.mypic{
    float:right;
    height:300px;
    width:300px;
    margin-right:-100px;
    margin-top:-180px;
    border-radius:50%;
    animation:slideLeft 1s ease forwards;
    animation-delay: .7s;
    transition: width 2s ease-in,height 2s ease-in
}
.mypic:hover{
    height:350px;
    width:350px;
}
.about{
    text-align:center;
    padding:20px;
    background-image:linear-gradient(to right,red,violet);
    color:#081b29;
    font-weight: bold;
}
.ppp{
    margin-top:20px;
    padding-bottom:10px;
}
.portfolio{
    position: relative;
    top:50px;
    margin-top:100px;
    
    
}
#phd{
    text-align:center;color:slateblue;text-shadow:1px 1px 1px blue;text-decoration:underline;
            text-decoration-color:pink;top:-30px;position: relative;
}
li{
    padding-top: 15px;
    color:royalblue ;
}
